/config/Code/User/globalStorage
/config/Code/User/workspaceStorage
/config/git/config.local
/config/git/credentials
/config/git/ignore
/config/gnupg/*
/config/karabiner/automatic_backups
/config/pypoetry/auth.toml
/config/tmux/plugins
/config/zsh/zshenv.local
