.python-version
.venv

/config/git/config.local
/config/git/ignore
/config/jupyter/lab
/config/jupyter/migrated
/config/zsh/zprofile.local
/config/zsh/zshenv.local
/config/zsh/zshrc.local
/rcs/bundle/cache
