.python-version
.venv

/config/Code/User/globalStorage
/config/Code/User/workspaceStorage
/config/git/config_platform
/config/git/config.local
/config/git/credentials
/config/git/ignore
/config/gnupg/*
/config/jupyter/lab
/config/jupyter/migrated
/config/karabiner/automatic_backups
/config/pypoetry/auth.toml
/config/zsh/zprofile.local
/config/zsh/zshenv.local
/config/zsh/zshrc.local

!/config/gnupg/gpg-agent_darwin.conf
!/config/gnupg/gpg-agent_linux.conf
