;;; -*- coding: utf-8; mode: emacs-lisp; -*-

;;; Proxy Server

;; (setq url-proxy-services
;;       '(("http"  . "proxyhostname:port")
;;         ("https" . "proxyhostname:port")))

;;; Proxy Authentication
;;;   eval (base64-encode-string "username:password") to get the base64string

;; (setq url-http-proxy-basic-auth-storage
;;       '(("proxyhostname:port" ("Proxy" . "base64string"))))
